version: '3.8'

services:
  app:
    build: .
    ports:
      - "3005:3000"
    network_mode: "bridge"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - NODE_ENV=production
    env_file:
      - .env